<h2>New Contact</h2>

<md-input-container floatPlaceholder="auto">
    <input [(ngModel)]="contact.firstName" mdInput type="text"  id="fname" required placeholder="First Name">
</md-input-container>
<br>

<md-input-container floatPlaceholder="auto">
  <input [(ngModel)]="contact.lastName" mdInput type="text"  id="lname" required placeholder="Last Name">
</md-input-container>
<br>

<md-input-container floatPlaceholder="auto">
  <input [(ngModel)]="contact.phone" mdInput type="text"  pattern="-?[0-9]*(\.[0-9]+)?" id="phone" required placeholder="Phone Number">
</md-input-container>
<br>

<md-input-container floatPlaceholder="auto">
  <input [(ngModel)]="contact.streetAddress" mdInput type="text" required placeholder="Street Address">
</md-input-container>
<br>

<md-input-container floatPlaceholder="auto">
  <input [(ngModel)]="contact.postalCode" mdInput type="text" required placeholder="Postal Code">
</md-input-container>
<br>

<md-input-container floatPlaceholder="auto">
  <input [(ngModel)]="contact.city" mdInput type="text" required placeholder="City">
</md-input-container>
<br>

<button md-fab md-dialog-close (click)="saveContact()"  >
  <md-icon >send</md-icon>
</button>
  <button md-fab md-dialog-close (click)="closeDialog()" >
    <md-icon >accessible</md-icon>
  </button>

