.app {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#addButton {
  float: right;
  margin: 15px 0px;
}

.example-sidenav-fab-container {
  width: 500px;
  height: 300px;
  border: none;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 100px;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
