.app {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#addButton {
  float: right;
  margin: 15px 0px;
}

.example-sidenav-fab-container {
  background: #f1f2f4 url("../assets/images/Sulku.jpg") left;
  min-width: 100px;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 100px;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.header {
  background: #f1f2f4 url("../assets/images/Sulku.jpg") left ;
  color: fuchsia;
  align-items: center;
}

.Menu {
  font-style: oblique; color: fuchsia;
}
